.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 1; /* Initial opacity */
    color: #fff;
    
  }
  

  .navbar.scrolled {
    background-color: rgba(63, 44, 170, 0.9);
    opacity: 0.9; 
  }